In [ ]:
import pandas as pd
import numpy as np
%load_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False
%config SqlMagic.displaylimit = 50
%sql sqlite:///chinook.db

In [2]:
df_enterprises = pd.read_csv("D:\PROFIL\BCRK1417\Documents\Parcours_FEST\work\codes\de_satisfaction_client\data\df_enterprises.csv", sep='|')
df_enterprises.head()

,company_name,town,country,institution_type,review,trust_score,five_star_%
0,Evergreen Credit Union,Portland,United States,ATM,317,4.9,96%
1,Liberty First Credit Union,Lincoln,United States,Car Finance and Loan Company,290,4.7,92%
2,GoHenry by Acorns,Irvine,United States,Non-Bank Financial Service,"3,173",4.3,66%
3,Crypto Dispensers,Chicago,United States,Money Transfer Service,169,3.9,60%
4,Swadesh,San Francisco,United States,Financial Institution,10,4.4,100%

In [3]:
%%sql

CREATE TABLE companies (
    id INTEGER , 
    company_name VARCHAR,
    town VARCHAR,
    country VARCHAR,
    institution_type VARCHAR,
    review INTEGER,
    trustscore DOUBLE,
    five_star_percent  DOUBLE,
    PRIMARY KEY (id)
);

UsageError: Cell magic `%%sql` not found.